<div class="container">
<form [formGroup]="form">
 
  <h2>Settings</h2>
  <br>
  <p>NewsAPI.org</p>
    <div class="form-group">
      <input type="text" placeholder="API from newsapi.org" formControlName="q" size="82">
      <p>
      <small>Please enter the API key from newsapi.org</small>
      </p>
    </div>  
    
    
   
   <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-info" [routerLink]="['/country']">Back</button>
    <button type="button" class="btn btn-danger" [disabled]="form.invalid" (click)='onDelete()'>Delete</button>
    <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)='onAdd()'>Add</button>
   </div>
 
</form>
</div>

<div class="container">
  <ul>
    <li *ngFor="let s of searches">
      {{s.q}}
    </li>
  </ul>

</div>

